    {% if vhost.ldap.exception_base_urls | default(false) %}
    # Add some Auth execption, because basic auth is use in multiple
    # other soft and multiple auth token is not possible ...
    {% for ldap_exception_base_url in vhost.ldap.exception_base_urls %}
    <LocationMatch "^{{ ldap_exception_base_url }}/(.*)$">
        Satisfy Any
        Allow from all
    </LocationMatch>
    {% endfor %}
    {% endif %}

    # Configure LDAP Auth Basic based
    <Location />
        # Configure LDAP authentication
        AuthType Basic
        AuthName "LDAP Authentication"
        AuthBasicProvider ldap
        AuthLDAPURL {{ vhost.ldap.url }}

        AuthLDAPBindDN {{ vhost.ldap.dn }}
        AuthLDAPBindPassword {{ vhost.ldap.password }}

        AuthLDAPGroupAttribute {{ vhost.ldap.attribute }}
        AuthLDAPGroupAttributeIsDN {{ vhost.ldap.attribute_is_dn | default("on") }}

        # Define groups allowed to access
        {% for ldap_group in vhost.ldap.groups %}
        Require ldap-group {{ ldap_group }}
        {% endfor %}
    </Location>
