
    # Redirect all HTTP traffic to HTTPS
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://{{ vhost.server.name }}:{{ add_apache_confs__https_listen_port }}%{REQUEST_URI} [L,R=301]